<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,0,0</string>
			<key>device_type</key>
			<string>Host bridge</string>
			<key>model</key>
			<string>???</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,1,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor PCIe Controller (x16)</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x12,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,18,0</string>
			<key>device_type</key>
			<string>Signal processing controller</string>
			<key>model</key>
			<string>Comet Lake PCH Thermal Controller</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x13,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,19,0</string>
			<key>device_type</key>
			<string>Serial controller</string>
			<key>model</key>
			<string>???</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,20,0</string>
			<key>device_type</key>
			<string>USB controller</string>
			<key>model</key>
			<string>Comet Lake USB 3.1 xHCI Host Controller</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x14,0x2)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,20,2</string>
			<key>device_type</key>
			<string>RAM memory</string>
			<key>model</key>
			<string>Comet Lake PCH Shared SRAM</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x14,0x3)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,20,3</string>
			<key>device_type</key>
			<string>Network controller</string>
			<key>model</key>
			<string>Wireless AX201</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x15,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,21,0</string>
			<key>device_type</key>
			<string>Serial bus controller</string>
			<key>model</key>
			<string>Comet Lake PCH Serial IO I2C Controller #0</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x15,0x1)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,21,1</string>
			<key>device_type</key>
			<string>Serial bus controller</string>
			<key>model</key>
			<string>Comet Lake PCH Serial IO I2C Controller #1</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,22,0</string>
			<key>device_type</key>
			<string>Communication controller</string>
			<key>model</key>
			<string>Comet Lake HECI Controller</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,27,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>Comet Lake PCI Express Root Port #17</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1B,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,27,0/0,0</string>
			<key>device_type</key>
			<string>Non-Volatile memory controller</string>
			<key>model</key>
			<string>NVMe Controller</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>???</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,0/0,0</string>
			<key>device_type</key>
			<string>Unassigned class</string>
			<key>model</key>
			<string>RTS5260 PCI Express Card Reader</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x4)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,4</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>???</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,4/0,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,4/0,0/0,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,4/0,0/0,0/0,0</string>
			<key>device_type</key>
			<string>System peripheral</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 NHI [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x1,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,4/0,0/1,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,4/0,0/2,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,4/0,0/2,0/0,0</string>
			<key>device_type</key>
			<string>USB controller</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 USB Controller [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x4,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,4/0,0/4,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1D,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,29,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>Comet Lake PCI Express Root Port #9</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,29,0/0,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,29,0/0,0/0,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,29,0/0,0/0,0/0,0</string>
			<key>device_type</key>
			<string>System peripheral</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 NHI [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)/Pci(0x1,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,29,0/0,0/1,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)/Pci(0x2,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,29,0/0,0/2,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,29,0/0,0/2,0/0,0</string>
			<key>device_type</key>
			<string>USB controller</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 USB Controller [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)/Pci(0x4,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,29,0/0,0/4,0</string>
			<key>device_type</key>
			<string>PCI bridge</string>
			<key>model</key>
			<string>JHL7540 Thunderbolt 3 Bridge [Titan Ridge 4C 2018]</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,31,0</string>
			<key>device_type</key>
			<string>ISA bridge</string>
			<key>model</key>
			<string>???</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,31,3</string>
			<key>device-id</key>
			<data>
			yJ0AAA==
			</data>
			<key>device_type</key>
			<string>Audio device</string>
			<key>hda-gfx</key>
			<string>onboard-1</string>
			<key>layout-id</key>
			<integer>93</integer>
			<key>model</key>
			<string>Smart Sound Technology Audio Controller</string>
			<key>model 2</key>
			<string>Cannon Point-LP High Definition Audio Controller</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1F,0x4)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,31,4</string>
			<key>device_type</key>
			<string>SMBus</string>
			<key>model</key>
			<string>Comet Lake PCH SMBus Controller</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1F,0x5)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,31,5</string>
			<key>device_type</key>
			<string>Serial bus controller</string>
			<key>model</key>
			<string>Comet Lake PCH SPI Controller</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
		<dict>
			<key>AAPL,ig-platform-id</key>
			<data>
			AACbPg==
			</data>
			<key>AAPL,slot-name</key>
			<string>Internal@0,2,0</string>
			<key>device-id</key>
			<data>
			mz4AAA==
			</data>
			<key>device_type</key>
			<string>VGA compatible controller</string>
			<key>dpcd-max-link-rate</key>
			<data>
			FAAAAA==
			</data>
			<key>enable-dpcd-max-link-rate-fix</key>
			<data>
			AQAAAA==
			</data>
			<key>enable-hdmi-dividers-fix</key>
			<data>
			AQAAAA==
			</data>
			<key>enable-hdmi20</key>
			<data>
			AQAAAA==
			</data>
			<key>enable-lspcon-support</key>
			<data>
			AQAAAA==
			</data>
			<key>framebuffer-con1-alldata</key>
			<data>
			AQUJAAAEAACHAQAA
			</data>
			<key>framebuffer-con1-enable</key>
			<data>
			AQAAAA==
			</data>
			<key>framebuffer-con2-alldata</key>
			<data>
			AgYJAAAEAACHAQAA
			</data>
			<key>framebuffer-con2-enable</key>
			<data>
			AQAAAA==
			</data>
			<key>framebuffer-con3-alldata</key>
			<data>
			AwQKAAAIAACHAQAA
			</data>
			<key>framebuffer-con3-enable</key>
			<data>
			AQAAAA==
			</data>
			<key>framebuffer-con3-has-lspcon</key>
			<data>
			AQAAAA==
			</data>
			<key>framebuffer-portcount</key>
			<data>
			BAAAAA==
			</data>
			<key>hda-gfx</key>
			<string>onboard-1</string>
			<key>model</key>
			<string>Intel UHD Graphics 630 (Mobile)</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x4,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,4,0</string>
			<key>device_type</key>
			<string>Signal processing controller</string>
			<key>model</key>
			<string>Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor Thermal Subsystem</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x8,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Internal@0,8,0</string>
			<key>device_type</key>
			<string>System peripheral</string>
			<key>model</key>
			<string>Xeon E3-1200 v5/v6 / E3-1500 v5 / 6th/7th/8th Gen Core Processor Gaussian Mixture Model</string>
		</dict>
	</dict>
</dict>
</plist>
